.feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 5vw;
}

.feedback__form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
}

.feedback__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.feedback__title {
  font-size: calc(36px + 9  * ((100vw - 320px) / (1280 - 320)));
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  gap: 1vw;
  /* border: 1px solid #fff; */
  /* border-radius: 10px; */
  padding: 15px;
}

.form__wrapper-name,
.form__wrapper-tel,
.form__wrapper-mail,
.form__wrapper-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(18px + 7 * ((100vw - 320px) / (1280 - 320)));
  
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1vw;
}

.form__label-name,
.form__label-tel,
.form__label-mail, 
.form__label-text {
  width: 35%;
}

.form__input-name,
.form__input-tel,
.form__input-mail,
.form__input-text {
  width: 100%;
  height: 50px;
  background-color: transparent;
  font-family: inherit;
  background-clip: padding-box;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: calc(18px + 7 * ((100vw - 320px) / (1280 - 320)));
  padding: 1vw;
}

.form__input-name::placeholder,
.form__input-tel::placeholder,
.form__input-mail::placeholder,
.form__input-text::placeholder {
  color: rgb(255, 255, 255, 0.7);
  padding-left: 10px;
}

.form__send {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  background-color: var(--main-color);
  color: #fff;
  font-size: calc(18px + 2 * ((100vw - 320px) / (1280 - 320)));
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .feedback__form-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .form {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .feedback__form-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .form {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .feedback__form-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .form {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .feedback__form-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .form {
    width: 100%;
    gap: 10px;
  }
}
