.finish-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  padding: 5vw;
  position: relative;
  overflow: hidden;
}

.products-grid {
  display: grid;
  max-width: 1280px;
  width: 100%;
  grid-template-columns: repeat(2, 15vw) 1fr;
  grid-template-rows: repeat(2, 15vw);
  grid-template-areas: 
    "prod1 prod1 title"
    "prod2 prod3 title";
  column-gap: 15px;
  row-gap: 15px;
  justify-content: center;
  align-self: center;
  align-items: center;
  justify-items: center;
}

.produсts-grid__products-wrapper{
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 0%, 0.5);
  object-fit: cover;
}

.produсts-grid__products-wrapper_prod1 {
  grid-area: prod1;
}

.produсts-grid__products-wrapper_prod2 {
  grid-area: prod2;
}

.produсts-grid__products-wrapper_prod3 {
  grid-area: prod3;
}

.products-products-grid__img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.produts-grid__title-wrapper {
  grid-area: title;
  align-self: flex-start;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.products-grid__title {
  font-size: calc(36px + 9  * ((100vw - 320px) / (1280 - 320)));
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(2, 25vw);
    grid-template-rows: repeat(3, 25vw);
    grid-template-areas: 
      "title title"
      "prod1 prod1"
      "prod2 prod3";
    width: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .products-grid {
    grid-template: 
      "prod1 prod1 title" 25vw
      "prod2 prod3 title" 25vw
      / 25vw 25vw 1fr;
    width: auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .products-grid {
    grid-template: 
    "title title" 40vw
    "prod1 prod1" 35vw
    "prod2 prod3" 35vw
    / 35vw 35vw;
    width: auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .products-grid {
    grid-template: 
    "title title" 40vw
    "prod1 prod1" 35vw
    "prod2 prod3" 35vw
    / 35vw 35vw;
    width: auto;
  }
}