.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  /* height: 20vh; */
  background-color: rgb(64, 58, 58);
  color: #fff;
  padding: 5vw;
  box-sizing: border-box;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  /* padding-top: 5vh;
  padding-bottom: 5vh; */
}

.footer__about-wrapper {
  width: 30%;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer__logo {
    width: 150px;
    object-fit: contain;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .footer__logo {
    width: 150px;
    object-fit: contain;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .footer__logo {
    width: 150px;
    object-fit: contain;
  }

  .footer__about-wrapper {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer__logo {
    width: 150px;
    object-fit: contain;
  }
}