.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  padding: 5vw;
  position: relative;
  overflow: hidden;
}

.img-grid {
  display: grid;
  max-width: 1280px;
  width: 100%;
  grid-template-columns: 1fr repeat(2, 15vw);
  grid-template-rows: repeat(2, 15vw);
  column-gap: 15px;
  row-gap: 15px;
  justify-content: center;
  align-self: center;
  align-items: center;
  justify-items: center;
}

.subtitle-wrapper {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 5px;
}

.img-grid__subtitle {
  font-size: calc(36px + 9  * ((100vw - 320px) / (1280 - 320)));
  font-weight: 600;
  padding-right: 3vw;
  color: #fff;
}

.subtitle-wrapper__underlining {
  display: block;
  width: 150px;
  height: 10px;
  margin-top: 30px;
  background-color: var(--main-color);
}

.img-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 0%, 0.5);
}

.img-wrapper__img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .img-grid {
    grid-template-columns: repeat(2, 25vw);
    grid-template-rows: repeat(3, 25vw);
    width: auto;
  }

  .subtitle-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .img-grid {
    grid-template-columns: 1fr repeat(2, 25vw);
    grid-template-rows: repeat(2, 25vw);
    width: auto;
  }

  .subtitle-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .img-grid {
    grid-template-columns: repeat(2, 35vw);
    grid-template-rows: 40vw repeat(2, 35vw);
    width: auto;
  }

  .subtitle-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .img-grid {
    grid-template-columns: repeat(2, 35vw);
    grid-template-rows: 40vw repeat(2, 35vw);
    width: auto;
  }

  .subtitle-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
