.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  padding: 5vw;
}

/* .title-wrapper {

} */

.img-grid {
  display: grid;
  max-width: 1280px;
  width: 100%;
  grid-template-columns: 1fr repeat(2, minmax(20vw, 30vw));
  grid-template-rows: repeat(2, minmax(20vh, 30vh));
  column-gap: 15px;
  row-gap: 15px;
  justify-content: center;
  align-self: center;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
}

.subtitle-wrapper {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 5px;
}

.img-grid__subtitle {
  font-size: calc(36px + 9  * ((100vw - 320px) / (1280 - 320)));
  font-weight: 600;
  padding-right: 3vw;
  color: #fff;
}

.subtitle-wrapper__underlining {
  display: block;
  width: 150px;
  height: 10px;
  margin-top: 30px;
  background-color: var(--main-color);
}

.img-wrapper {
  display: flex;
  /* margin: 5px; */
  /* border: 1px solid black; */
  /* border-radius: 8px; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: cornflowerblue;
}

.img-wrapper__img {
  width: 100%;
  height: auto;
  /* max-width: 300px; */
  /* max-height: 300px; */
}